detailsdef/otherplugins/Details_CastLog/Definitions.lua
detailsdef/otherplugins/Details_ChartViewer/Definitions.lua
detailsdef/otherplugins/Details_DeathGraphs/Definitions.lua
detailsdef/otherplugins/Details_ExtraLogs/Definitions.lua
detailsdef/plugins/Details_Compare2/Definitions.lua
detailsdef/plugins/Details_Compare2/DF/definitions.lua
detailsdef/plugins/Details_EncounterDetails/Definitions.lua
detailsdef/Libs/DF/definitions.lua
